<div class="container">

    <a  href='/' class="aboutTitle">About Bharat Kumar</a>

    <p>I am Full-Stack-Developer with around 2 years of experience. I create successful websites that are fast, easy to use, and built with best practices.</p>
    <p>I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.</p>
    <p>My main experience is in front-end development but I also have a passion for design. Given that producing a modern website requires the combination of design, server technology, and the layer that users interacts with, I believe having experience in both design and development allows for making the most optimal user experiences.</p>
    <p>I take great pride in not only being able to complete work to the high standard you expect but also go the extra mile wherever possible. I enjoy getting to know a business, its goals, and how I can best apply myself to make sure your website succeeds. For established clients, I particularly like analysing their metrics and making data-based decisions and recommendations, leading to better rates of success.</p>
</div>