<div class="content">
    <h2>I'm {{name}} - a developer and designer </h2>
    <p>A wizard who loves design and code. I tell stories through my designs and illustrations. I spend most of my time designing for brands and creating design resources and tools.</p>

    <div style="gap: 10px; ">
      <div style="padding-bottom: 10px;">Subscribe to my monthly newsletter</div>
      <div style="display: flex;"> 
      <input 
      type="text"
      placeholder="Enter your email"
      class="input"/>

      <button>
        Subscribe
      </button>
    </div>
    </div>

    <div class="h2">
      <h2>Portfolio :</h2>

      <p class="git">GitHub : <a href="https://github.com/Bharat-95" target="_blank" rel="noopener noreferrer">github.com/Bharat-95</a></p>
      <p class="git">Linkedin : <a href="https://www.linkedin.com/in/bharat-kumar-8a87b4169/" target="_blank" rel="noopener noreferrer">linkedin.com/in/bharat-kumar-8a87b4169/</a></p>
      <p class="git">Instagram : <a href="https://www.linkedin.com/in/bharat-kumar-8a87b4169/" target="_blank" rel="noopener noreferrer">instagram.com/in/bharat-kumar-8a87b4169/</a></p>
    </div>
    
  </div>
